@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin:0%;
    padding:0%;
}
body,html{
    height:100%;
}
.background{
    background-image:url("Homepage_img.png");
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#anchor{
    margin-left:750px;
    display: inline-block;
}
ul li{
    list-style: none;
    margin-top: 40px;
    display: inline-block;
    padding-right: 40px;
    font-family: 'poppins';
    font-style: normal;
}
a{
    color: white;
    text-decoration:none;
}
#heroSection{
    margin-top: 200px;
    margin-left:50px;
    font-family: 'poppins';
    color: white;
}
#herotext{
    font-size: 33px;
}
#herosubtext{
    font-size:20px;
}
#glass{
    margin-top: 60px;
    position: absolute;
    width: 453px;
    height: 500px;
    left: 800.5px;
     background: linear-gradient(270deg, rgba(247, 244, 244, 0.25) -1.69%, rgba(250, 248, 248, 0.25) 98.31%);
    border-radius: 30px;

}
#login{
    color: white;
    font-family:'poppins';
    margin-left: 20px;
    margin-top:20px;
}
input[type=text]{
    border-radius: 10px;
    size:10px;
    background: linear-gradient(180deg, #FAEFEF 0%, rgba(249, 233, 233, 0) 100%);
    width: 280px;
    height: 45px;
}
input[type=password]{
    border-radius: 10px;
    size:10px;
    background: linear-gradient(180deg, #FAEFEF 0%, rgba(249, 233, 233, 0) 100%);
    width: 280px;
    height: 45px;
}
button{
    font-family: 'poppins';
    color:white;
    background-color:black;
    margin-left: 120px;
    width: 125px;
    height:35px;
    border-radius: 10px;


}
.logo{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 34px;
    top: 43px;
    margin-bottom: 50px;
    margin-top: -30px;
}